#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 5rem;
  text-align: center;
  background-image: url('./assets/media/pig-bg/PG.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header, .footer {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.logo {
  width: 150px;
  height: auto;
  transition: filter 0.3s ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px; /* You can adjust this value based on your design needs */
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #646cffaa;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #515cb7; /* Darker shade for hover effect */
}



/*
.read-the-docs {
  color: #888;
}
*/
